################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/rfidAndLCDProject/rfidAndLCDProject/__vm
/rfidAndLCDProject/.vs/rfidAndLCDProject/v17
